<template>
      <b-button-group vertical>
        <channel-item
          v-on:channel-selected="receiveChannel"
          v-for="channel in channels"
          :key="channel.id"
          :id="channel.id"
          :name="channel.name"
          ></channel-item>
      </b-button-group>
</template>

<script>
  import ApiService from '@/services/api.service'
  import ChannelItem from '@/components/ChannelItem.vue'
  export default {
    name: "ChannelList",
    components: {"channel-item" : ChannelItem},
    props: {
      server_id: String,
    },
    mounted(){
      this.init();
    },
    data(){
      return {
        channels: [],
      }
    },
    computed: {
    },
    methods: {
      init: async function(){
        let params = new URLSearchParams();
        params.append('id', this.server_id);
        let response = await ApiService.post("/channels", params)
        this.channels = response.data
      },
      receiveChannel: function(obj){
        this.$emit('channel-selected', obj)
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
