<template>
    <b-button squared class="channelBox"
      v-on:click="sendToParent">
      <b-container class="channelLabel d-flex justify-content-start">
        #{{name}}
        </b-container>
    </b-button>
</template>

<script>
  export default {
    name: "ChannelItem",
    props: {
      id: String,
      name: String,
    },
    methods: {
      sendToParent: function(){
        let obj = {};
        obj['id'] = this.id;
        obj['name'] = this.name;
        this.$emit('channel-selected', obj)
      }
    },
}
</script>

<style lang="scss" scoped>
.channelLabel{
  font-size: 0.6em;
  font-weight: 400;
}
.channelLabel:after, .channelLabel:before{
  content: none;
}
.channelBox{
  background-color: #2C2F33;
  color: white;
  margin: 0em;
  margin-left: 0em;
  padding-left: 0em;
  margin-top: 0em;
  padding-top:0.2em;
  padding-bottom: 0.2em;
  margin-bottom: 0em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
}
.channelBox:hover {
  background-color: #7289DA;
}
</style>
