<template v-if="getUsernameLocal">
    <b-list-group-item :variant="currentVariant" class="chatItem list-group-item list-group-item-action">
      <b-container>
        <b-row no-gutters>
          <b-col cols="1" class="image">
            <vue-load-image>
              <b-img
                          blank-color="#7289DA"
                          rounded="circle"
                          width="256px"
                          fluid
                          slot="image"
                          :src="getImage"/>
                <b-spinner
                          slot="preloader"
                          label="Spinning"
                          style="width: 2em; height: 2em;"></b-spinner>
                <b-avatar
                          size="2em"
                          width="256px"
                          height="256px"
                          fluid
                          slot="error"
                          ref="img"/>
              </vue-load-image>
          </b-col>
        <b-col cols-lg="11" class="d-flex w-100 justify-content-start">
          <b-container>
          <b-row>
              <h5 class="displayName">{{getUsername}}</h5><h4 class="discriminator">#{{getDiscriminator}}</h4>
              <small>{{timestampConvert}}</small>
          </b-row>
          <b-row class="contentOfMessage">
              <vue-markdown>{{content}}</vue-markdown>
              <div v-if="if_edited">(edited)</div>
          </b-row>
        </b-container>
        </b-col>
        </b-row>
        </b-container>
    </b-list-group-item>
</template>

<script>
  import VueLoadImage from 'vue-load-image'
  import VueMarkdown from 'vue-markdown-v2'
  export default {
    name: "ChatItem",
    components: {"vue-markdown" : VueMarkdown,
                 "vue-load-image" : VueLoadImage,},
    props: {
      id: String,
      user_id: String,
      content: String,
      timestamp: String,
      format: String,
      is_deleted: Boolean,
      edited_timestamp: String,
    },
    mounted(){
      this.getVariant()
    },
    data(){
      return{
        currentVariant: "",
      }
    },
    methods: {
      getVariant: function() {
        if (this.is_deleted){
          this.currentVariant = "danger"
        }
        else if (this.if_deleted){
          this.currentVariant = "warning"
        }
      },
    },
    computed: {
      //mix getters in
      // ...mapGetters(['getUsername']),
      getUsername: function(){
        if (this.$store.getters['cache/getUsername'](this.user_id)){
          return this.$store.getters['cache/getUsername'](this.user_id)
        }
        return false
      },
      getDiscriminator: function(){
        return this.$store.getters['cache/getDiscriminator'](this.user_id)
      },
      timestampConvert: function(){
        var moment = require('moment');
        return moment(this.timestamp).utc().format(this.format);
      },
      getImage: function() {
        return("https://cdn.discordapp.com/avatars/"+
               this.user_id +
               "/" +
               this.$store.getters['cache/getAvatar'](this.user_id) +
               ".png?size=256")
      }
    },
      if_edited: function() {
        return (typeof this.edited_timestamp !== "undefined")
      }
  }
</script>

<style lang="scss" scoped>
.chatItem{
  background-color: #36393F;
  color: white;
  font-size: 0.6em;
  margin: 0em;
  margin-left: 0em;
  padding-left: 0em;
  margin-top: 0em;
  padding-top:0.5em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  border-variant: transparent;
}
.image {
  margin-inline-end: 1em;
}
.displayName{
  font-size: 1em;
  font-weight: bold;
}
.discriminator{
  padding-right: 0.5em;
  font-size: 1em;
  font-weight: normal;
}

.contentOfMessage{
  font-size: 1em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  text-align: start;
}
.contentOfMessage:after, .contentOfMessage:before{
  content: none;
}
</style>
