<template>
  <div>
    <b-col>
      <b-card
      title="This is a card"
      img-src="https://picsum.photos/600/300/?image=25"
      img-alt="Stuff"
      img-top
      tag="article"
      style="max-width:20rem"
      class="mb-2">
          <b-card-text>
            Maybe we'll display a list here
          </b-card-text>
            <b-button variant="primary">Apply</b-button>
      </b-card>
    </b-col>
  </div>
</template>

<script>
  export default {}
</script>

<style lang="scss" scoped>
</style>
