<template>
    <b-button class="serverBox"
      v-on:click="$emit('server-selected', id)">
        <vue-load-image>
          <b-img
                      blank-color="#7289DA"
                      rounded="circle"
                      width="128px"
                      slot="image"
                      :alt="name"
                      :src="getImage"/>
            <b-spinner
                      slot="preloader"
                      label="Spinning"
                      style="width: 128px; height: 128px;"></b-spinner>
            <b-avatar
                      :text="name"
                      size="128px"
                      slot="error"
                      :alt="name"
                      ref="img"/>
          </vue-load-image>
      <div class="serverLabel">{{name}}</div>
    </b-button>
</template>

<script>
  import VueLoadImage from 'vue-load-image'
  export default {
    name: "ServerItem",
    components: {
      "vue-load-image" : VueLoadImage,
    },
    props: {
      id: String,
      name: String,
      icon: String,
    },
    computed: {
      getImage: function() {
        return("https://cdn.discordapp.com/icons/"+this.id+"/"+this.icon+".png?size=256")
      }
    },
}
</script>

<style lang="scss" scoped>
.serverLabel{
  font-size: 0.7em;
  font-weight: 400;
  margin-top: 0.5em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  text-align: center;
}
.serverLabel:after, .serverLabel:before{
  content: none;
}
.serverBox{
  background-color: #23272A;
  color: white;
}
.serverBox:hover {
  background-color: #7289DA;
}
</style>
