<template>
  <b-button-group
  class="justify-content-md-center">
    <server-item
      v-for="server in filteredServers"
      v-on:server-selected="receiveServer"
      :key="server.id"
      :id="server.id"
      :name="server.name"
      :icon="server.icon"
    >
  </server-item></b-button-group>
</template>

<script>
  import OauthService from "@/services/oauth.service"
  import ServerItem from "@/components/ServerItem.vue"
  export default {
    name: "ServerList",
    components: {"server-item" : ServerItem},
    props: {
    },
    mounted(){
      this.init();
    },
    data(){
      return {
        servers: [],
      }
    },
    computed: {
      filteredServers: function(){
        const result = this.servers.filter(server => {
          if ((server.permissions & 0x00000008) == 0x00000008
          || (server.permissions & 0x00002000) ==	0x00002000
          || server.owner){
                return true
          }
          return false})
       return(result)
      }
    },
    methods: {
      init: async function(){
        let response = await OauthService.getGuilds()
        this.servers = response.data
      },
      //middleman to move to parent object
      receiveServer: function(id){
        this.$emit('server-selected', id)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
