<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <!-- <router-link to="/about">About</router-link> -->
      <router-link to="/logout">Logout</router-link>
    </div>
    <router-view />
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #FFFFFF;

    &.router-link-exact-active {
      color: #7289DA;
    }
  }
}
body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-size: 32px;
}
body {
  background-color: #1E2022;
}
</style>
