<template>
  <b-container>
      <b-row align-v="center">
      </b-row>
  </b-container>
</template>

<script>
// @ is an alias to /src
// import ChatLog from '@/components/ChatLog.vue'
export default {
  name: "About",
  // components: {"chat-log" : ChatLog},
};
</script>
