<template>
  <div></div>
</template>

<script>
import { UserService } from '@/services/user.service'
// @ is an alias to /src
export default {
  name: "AuthView",
data(){
  return {
  }
},
mounted(){
  this.getAuthorized()
},
methods: {
   getAuthorized: async function() {
     await UserService.login(this.$route.query.code);
     this.$router.go("/home")
   }
 }
};
</script>
