<template>
  <b-container class="d-flex justify-content-center">
    <b-row>
      <b-col>
      <server-list
        v-on:server-selected="receiveServer">
      </server-list>
     </b-col>
     <b-col>
    <channel-list
      v-on:channel-selected="receiveChannel"
      v-for="(server, index) in servers_selected"
      :key="index+server"
      :server_id="server"></channel-list>
    </b-col>
    <b-col>
    <chat-log
      v-for="(channel, index) in channels_selected"
      :key="index+channel.id"
      :id="channel.id"
      :name="channel.name"></chat-log>
    </b-col>
    </b-row>
    </b-container>
</template>

<script>
import ServerList from '@/components/ServerList.vue'
import ChannelList from '@/components/ChannelList.vue'
import ChatLog from '@/components/ChatLog.vue'
import Vue from "vue";
// @ is an alias to /src
export default {
  name: "Home",
  components: {"server-list" : ServerList,
               "channel-list" : ChannelList,
               "chat-log" : ChatLog},
  data(){
    return{
      servers_selected: [],
      channels_selected: [],
    }
  },
  methods: {
    receiveServer: function(id){
      if (!this.servers_selected){
      this.servers_selected.push(id);
      }
      else{
        Vue.set(this.servers_selected, 0, id)
      }
    },
    receiveChannel: function(obj){
      if (!this.channels_selected){
      this.channels_selected.push(obj);
      }
      else{
        Vue.set(this.channels_selected, 0, obj)
      }
    }
  }
};
</script>
