<template>
  <div>
    <b-button href="http://localhost:3000/discord/auth">Login with Discord</b-button>
  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: "LoginView",
};
</script>
