<template>
  <div></div>
</template>

<script>
import { UserService } from '@/services/user.service'
// @ is an alias to /src
export default {
name: "LogoutView",
data(){
  return {
  }
},
mounted(){
  UserService.logout()
  this.$router.go("/")
}
};
</script>
